
<h1> Componente de Cursos</h1>

<!-- forma de cargar templates dinámicos -->
<div *ngIf="identificado; then identificados else noIdentificado" >
    
</div>

<ng-template #identificados>
    <h3> Estas identificado: Bienvenido {{ nombre }} </h3>
    <button (click)="desconectar()"> Desconectar </button>
</ng-template>

<ng-template #noIdentificado>
    <h3> No estas identificado, pulsa el botón para identificarte </h3>
    <input type="text" [(ngModel)]="nombre" />
    <button (click)="identificarse()"> Conectar </button>
</ng-template>