<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Plantilla</title>
</head>
<body>
<header th:fragment="header" >
    <h1 th:text="#{plantilla.title}"></h1>
    <hr>
    <div style="display: grid; grid-template-columns: repeat(2, 100px);">
        <a href="/agregar">Crear personas</a>

        <a href="/">Listar personas</a>
        <form th:action="@{/logout}" method="POST">
            <a href="#" onclick="this.parentNode.submit();"> Cerrar sesión</a>
        </form>
    </div>
    <br/>
    <hr>

</header>

<footer th:fragment="footer">
    <div>
        <br/>
        <a th:href="@{/(lang=es)}">ES</a>
        <a th:href="@{/(lang=en)}">EN</a>
    </div>
    <hr>
    <p> [[#{plantilla.pie-pagina}]] &copy; 2023</p>
    <hr>
</footer>


</body>
</html>