**/.env
**/python/env/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


# Ignorar carpetas generadas por Angular CLI en cualquier nivel dentro de proyectos
**/node_modules/
**/dist/
**/tmp/

# Ignorar archivos de configuración específicos de usuario en cualquier nivel dentro de proyectos
**/.angular-cli.json

# Ignorar archivos de configuración de Visual Studio Code
**/.vscode/

# Ignorar archivos de configuración de WebStorm
**/.idea/

# Ignorar carpetas y archivos generados por Composer
**/vendor/

# Ignorar archivos generados por Laravel
**/storage/

# Ignorar archivos de configuración de Symfony
**/var/
**/bin/

