*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#container{
    width: 90%;
    height: auto;
    margin: auto;
    border: 1px solid rgb(225, 225, 226, 0.8);

    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 700px;

    
}

#header{
    display: grid;
    grid-template-columns: 68% 30%;

    align-items: center;

    height: 120px;
    border-bottom: 1px solid rgb(225, 225, 226, 0.8);
}

.logo{
    
    
    padding: 10px;
    margin-left: 20px;
    color: black;
    text-shadow: 1px 1px 0px #ccc;
    text-transform: uppercase;
}

.logo h1{
    font-family: Helvetica;
    font-size: 35px;
    font-weight: 900;
    font-style: italic;
}

#menu{
    width: 100%;
    height: 100%;
    
}



#menu > ul{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    
    
}


#menu a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    color: #444;
    transition: all 300ms;

}



#menu a:hover{
    background: rgb(225, 225, 226, 0.8);
    color: black;
    border-radius: 5px;
}



#content{
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: start;
    justify-items: space-between;
    grid-column-gap: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 20px;
    
    align-items: start;
    
    
    

    
}


.project{
    
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-bottom: 25px;
    
}

.project img{
    width: 100%;
    
}

.project-info{
    padding: 10px;
}

.project-info a{
    color: #444;
    text-decoration: none;
    font-size: 16px;
    transition: all 300ms;
}


.project-info a:hover{
    color: green;

}

.project-info p{
    font-size: 16px;
    color: grey;
}

#aside {
    
    margin-right: 30px;
    padding: 15px;

    
    
}


#aside h2{
    display: block;
    width: 100%;
    color: #444;
    
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;

    border-bottom: 1px solid rgb(225, 225, 226, 0.8);

}

#aside ul li{
    padding-bottom: 20px;

}

#aside ul li a{
    display: block;
    padding: 20px;
    text-align: center;
    background: #eee;
    color: #444;
    transition: all 300ms;
    text-transform: uppercase;

}

#aside ul li a:hover{
    background: #444;
    color: #eee;
    border-radius: 5px;
}


#footer{
    
    display: grid;
    grid-template-columns: 1fr 25%;
    align-items: center;
    justify-content: start;
    height: 120px;
    
    border-top: 1px solid rgb(225, 225, 226, 0.8);
}

#footer .logo{
    text-align: left;
    margin-right: 20px;
}

#footer .logo h1{
    opacity: 0.5;
    
    
    text-align: left;
}

#footer .info{
    
    margin-left: 20px;
    color: #444;
}


@media (max-width: 1334px){

    #header {
        
        justify-content: center;
        text-align: center;
    }



    #menu > ul{
        
        justify-content: space-evenly;
        
    }
}


@media (max-width: 784px){


    
    #header{
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
    }
    #header h1{
        text-align: center;
    }


    #content{
        
        grid-template-columns: 1fr;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #aside{
        margin-right: 0px;

    }

    #aside ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-right: 10px;
        margin-left: 10px;
    }

    #projects{
        display: grid;
        grid-template-columns: 1fr;
        
        margin-right: 10px;
        margin-left: 10px;
    }

    .project{

        margin-right: 10px;
        margin-left: 10px;
    }



    #footer{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: start;
        text-align: center;
        
        
    }


    #footer .logo{
        
        margin-right: 0;
        text-align: center;
        
    }

    #footer .logo h1{
        
        
        text-align: center;
    }

    #footer .info{
       
        margin-left: 20px;
        text-align: center;
        color: #444;
        
        
    }

}



