<div class="container">
    <h2> {{title}}</h2>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit( )">

        
        <div class="form-group">
            <label for="name">Nombre </label>
            <input type="text" class="form-control" id="name" #name="ngModel" [(ngModel)]="project.name" name="name" required>
            <span class="text-danger" *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
        </div>

        <div class="form-group">
            <label for="description">Descripcion</label>
            <input type="text" class="form-control" id="description" #description="ngModel" [(ngModel)]="project.description" name="description" required>
            <span class="text-danger" *ngIf="!description.valid && description.touched">La descripción es obligatoria</span>
        </div>

        <div class="form-group">
            <label for="category">Categoria</label>
            <input type="text" class="form-control" id="category" #category="ngModel" [(ngModel)]="project.category" name="category" required>
            <span class="text-danger" *ngIf="!category.valid && category.touched">La categoria es obligatoria</span>
        </div>

        <div class="form-group">
            <label for="year">Año de lanzamiento</label>
            <input type="number" class="form-control" id="year" #year="ngModel" [(ngModel)]="project.year" name="year" required>
            <span class="text-danger" *ngIf="!year.valid && year.touched">El año es obligatorio</span>
        </div>

        <div class="form-group">
            <label for="langs">Lenguajes utilizados</label>
            <input type="text" class="form-control" id="langs" #langs="ngModel" [(ngModel)]="project.langs" name="langs" required>
            <span class="text-danger" *ngIf="!langs.valid && langs.touched">Los lenguajes son obligatorios</span>
        </div>

        <div class="form-group">
            <label for="image">Imagen del proyecto</label>
            <input type="file" class="form-control" id="image" placeholder="Subir imagen" name="image" (change)="fileChangeEvent($event)" >
        </div>


        <!-- Imagen cargada -->

        <div >
            <img [src]="getImage(project.image)"  class="img-fluid" alt="Responsive image">
        </div>

        

        <span class="text-message-api" *ngIf="message">{{message}}</span>

        <button type="submit" class="btn btn-success" [disabled]="!projectForm.form.valid">Actualizar</button>

    </form>
</div>