<!-- <nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/sobre-mi" class="navbar-item">SOBRE MI</a>
      <a routerLink="/proyectos" class="navbar-item">TRABAJOS</a>
      <a routerLink="/curriculum" class="navbar-item">CURRICULUM</a>
    </div>
    <div class="navbar-center">
      <a href="#" class="navbar-item logo">NC</a>
    </div>

    <div class="navbar-end">
      <a routerLink="/crear-proyecto" class="navbar-item">SERVICIOS</a>
      <a routerLink="/habilidades" class="navbar-item">HABILIDADES</a>
      <a routerLink="/contacto" class="navbar-item">CONTACTO</a>
    </div>
  </div>
</nav> -->


<header>
  <ul>
    <li><a routerLink="/sobre-mi" routerLinkActive="active" >SOBRE MI</a></li>
    <li><a routerLink="/proyectos" routerLinkActive="active">TRABAJOS</a></li>
    <li id="logo" ><a routerLink="/sobre-mi" >NC</a></li>
    <li><a routerLink="/crear-proyecto" routerLinkActive="active">SERVICIOS</a></li>
    <li><a routerLink="/contacto" routerLinkActive="active">CONTACTO</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  <p>&copy; Copyright 2022. Todos los derechos reservados.</p>
</footer>