
/* EJEMPLOS DE GRID */

body{
    text-align: center;
    font-family: sans-serif;
}





/*  GRIDS solo actua dentro de la etiqueta que lo contiene */



/* WEBSITE PRINCIPAL */

#website *{
    margin: 0px;
    padding: 0px;
}

#website{

    width: 75%;
    height: 100vh;
    margin: 0px auto;
    border: 1px solid #ccc;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;


    /*
    esto hace que sea una matriz de 5x4 que es:
    1   2   3   4   5   6
      c   c   c   c   c
    2
      c   c   c   c   c
    3
      c   c   c   c   c
    4
      c   c   c   c   c
    5
    */
}

#cabecera{

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: blue;
    color: white;

    grid-column: 1 / 6;
}

#cabecera h1{
    
}

#menu{
    background-color: lightblue;
    color: black;
    grid-column: 1 / 6;
    
    line-height: 70px;
    
}

#menu ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
#menu ul li a{
    text-decoration: none;
    color: black;
}


#contenido{
    background-color: #eee;
    grid-column: 1 / 5;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap: 25px;
}

#contenido article{
    background: #ccc;
    border: 1px solid #555;
    
    padding: 10px;
}



#lateral{
    background-color: orange;
    color: white;
}

#pie-pagina{
    background-color: black;
    color: white;

    grid-column: 1 / 6;
}


