{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1>{{ title }} -  {{ body }}</h1>


    <p class=" bg-cyan-500 hover:bg-white ">Esta es la página de inicio.</p>
{% endblock %}