body{
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}

#logo{
    background: #1F87C4;
}

#menu ul li:hover{
    background: #1F87C4;
}

.post .button-more{
    background-color: #1F87C4;
    color: white;

}

.submit{
    background: #1F87C4;
    color: white;
}